
<script src="https://cartzilla.createx.studio/vendor/jquery/dist/jquery.slim.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="https://cartzilla.createx.studio/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="https://cartzilla.createx.studio/vendor/drift-zoom/dist/Drift.min.js"></script>
<!-- Main theme script-->
<script src="https://cartzilla.createx.studio/js/theme.min.js"></script>

</body>
</html>