{% include 'header-html' %}
{{content_for_header}}
{% include 'header' %}

<main class="offcanvas-enabled" style="padding-top: 5rem;">
{{content_for_layout}}
{% include 'footer' %}
</main>
{% include 'footer-html' %}