<div class="container">
    <!-- <div class="jumbotron">
        <h1>Tedala Market</h1>
        <p class="lead">Shop From Your Favourite Brands.</p>
        <hr class="my-4">
        <p class="pb-3">.</p>
        <a href="/pages/about-us" class="btn btn-primary btn-shadow" role="button">Learn more</a>
    </div> --> 

    <div class="cz-carousel cz-controls-static cz-controls-outside" >
        <div class="cz-carousel-inner" style="opacity: 1" data-carousel-options='{"loop": true}' data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
          <img src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/At_TedalaMarket_There_is_something_for_everyone_1.png?v=1609398623" alt="...">
          <img src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/At_TedalaMarket_There_is_something_for_everyone.png?v=1609398645" alt="...">
          <img src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/At_TedalaMarket_There_is_something_for_everyone_2.png?v=1609398528" alt="...">
        </div>
      </div>
</div>

