<!-- Shop Navigation -->

<li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
    <div class="dropdown-menu p-0">
        <div class="d-flex flex-wrap flex-md-nowrap px-2">
            <div class="mega-dropdown-column py-4 px-3">
                <div class="widget widget-links mb-3">
                    <h6 class="font-size-base mb-3">BABIES & KIDS </h6>
                    {% assign beauty_personal_care = collections | where: 'template_suffix','baby-kids' %}
                    <ul class="widget-list">
                        {% for collection in beauty_personal_care %}
                        <li class="widget-list-item pb-1">
                            <a class="widget-list-link" href="{{ collection.url }}"> {{collection.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-links">
                    <h6 class="font-size-base mb-3">BEAUTY & PERSONAL CARE </h6>
                    {% assign beauty_personal_care = collections | where: 'template_suffix','beauty-personal_care' %}
                    <ul class="widget-list">
                        {% for collection in beauty_personal_care %}
                        <li class="widget-list-item pb-1">
                            <a class="widget-list-link" href="{{ collection.url }}"> {{collection.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="mega-dropdown-column py-4 px-3">
                <div class="widget widget-links">
                    <h6 class="font-size-base mb-3">Shop pages</h6>
                    <ul class="widget-list">
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="shop-categories.html">Shop
                                Categories</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="shop-single-v1.html">Product
                                Page v.1</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="shop-single-v2.html">Product
                                Page v.2</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="shop-cart.html">Cart</a>
                        </li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="checkout-details.html">Checkout - Details</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="checkout-shipping.html">Checkout - Shipping</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="checkout-payment.html">Checkout - Payment</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="checkout-review.html">Checkout - Review</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="checkout-complete.html">Checkout - Complete</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="order-tracking.html">Order
                                Tracking</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="comparison.html">Product
                                Comparison</a></li>
                    </ul>
                </div>
            </div>
            <div class="mega-dropdown-column py-4 pr-3">
                <div class="widget widget-links mb-3">
                    <h6 class="font-size-base mb-3">Grocery store</h6>
                    <ul class="widget-list">
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="grocery-catalog.html">Product Catalog</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link" href="grocery-single.html">Single
                                Product Page</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="grocery-checkout.html">Checkout</a></li>
                    </ul>
                </div>
                <div class="widget widget-links">
                    <h6 class="font-size-base mb-3">Food Delivery</h6>
                    <ul class="widget-list">
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="food-delivery-category.html">Category Page</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="food-delivery-single.html">Single Item (Restaurant)</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="food-delivery-cart.html">Cart (Your Order)</a></li>
                        <li class="widget-list-item pb-1"><a class="widget-list-link"
                                href="food-delivery-checkout.html">Checkout (Address &amp; Payment)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>